/* Colors we'll use throughout the webpage */
:root {
    --primary-color: #097392;
    --secondary-color: #fff0ce;
    --tertiary-color: #83b4b3;
}

/* Informs every element on the page not to have any margin or border */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adding font style and uniform background color to the body */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--secondary-color);
}

/* This creates space between each Section */
section {
    padding: 60px;
}

/* This styles all the section-titles within the body, aligns texts to the center */
.section-title {
    font-size: 48px;
    color: var(--primary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

/* START OF HEADER STYLE */

/* Creates space and adds color to the header, creates flex for child elements */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    background: linear-gradient(rgba(9, 115, 146, 0.7), #024e76);
}

/* Making the font bold and larger, also adding light text-shadow */
header h1 {
    font-weight: bold;
    font-size: 32px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Styles header a elements, removed underlines on nav links and changed text color */
header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

/* Styling the Nav */
header nav {
    margin: 7px 0;
}

/* This makes the nav links act inline (REVIEW THIS!!) */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* This creates space between each Nav options, also increases font size and adds text shadow */
header nav ul li a {
    padding: 10px 20px; 
    font-weight: lighter;
    font-size: 1.25vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* This hover effect changes the color of the nav links */
header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* START OF HERO STYLE */

/* This adds an image to the hero, also sets up flex for it's child elements */
.hero-style {
    padding: 100px 50px;
    background-image: url("../images/bg-jumbotron.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex start;
}

/* This moves the text to the right, sets the fonts color and changes font style */
.hero-style h2 {
    margin-left: auto;
    color: var(--secondary-color);
    font-style: italic;
}

/* START OF ABOUT ME STYLE */

/* This just centers the paragraph and adds a bit of padding */
.about p {
    text-align: center;
    padding: 0px 50px 10px 50px;
}

/* This creates space amongst the pictures and adds flex */
.about div {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* This adds padding, creating space between paragraph and images */
.about img {
    height: auto;
    padding: 10px;
    width: 30%;
}

/* The element will remained blur until hovered on and re-blur when necessary */
.about .images img {
    -webkit-filter: blur(3px); /* Chrome, Safari, Opera */
    filter: blur(3px);
    transition-duration: 1s;
}

/* When hovered on the image will become clear */
.about .images img:hover {
    -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px);
    transition-duration: 1s;
}

/* This just styles the images width */
.about #first-image {
    width: 39%;

}

/* This just styles the images width */
.about #third-image {
    width: 20%;
}

/* START OF WORK STYLE */

/* Right now this just creates a border and changes the background color of the section */
.work-section {
    border: thick double var(--tertiary-color);
    background-color: var(--primary-color);
    background: linear-gradient(rgba(9, 115, 146, 0.9), #024e76);
}

/* Changes the color of the header to secondary and applies shadow to make text stand out */
.work-section h2 {
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* START OF WORK GRID */
.work {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.work .grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-item-2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}

/* START OF CONTACT ME STYLE */

.contact div {
    margin: 7px 0;
}

/* This removes the list style, lays the contact elements side by side */
.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
}

/* This increases the font size, adds some color and shadow, also decreases the amount space between each link */
.contact div ul li a {
    padding: 10px 150px;
    font-weight: lighter;
    font-size: 1.25vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: var(--primary-color);
}

/* Adds a hover effect to the contact options */
.contact div ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* START OF FOOTER STYLE */

/* Adds color to footer background and creates space between the two texts */
footer {
    width: 100%;
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(rgba(9, 115, 146, 0.9),#024e76);
}

/* Adds color to the text and increases the line-height */
footer .footer-text {
    line-height: 1.5;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
